:root{
  --primaryfont: "Raleway", sans-serif;
  --secfont: "Inter", sans-serif;
  --primarycolor: #4E47FF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--primaryfont);
}

/* share style */
.btn-primary{
  background: var(--primarycolor);
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 36px;
  border-radius: 8px;
  border: none;
}
.btn-primary:hover{
  background: white;
  color: var(--primarycolor);
  border: 2px solid var(--primarycolor);
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: #252432;
}
/* header area style */
.main-header{
  background-image: url(../Assets/Hero-bg.png);
  background-size: cover;
}
.nav-area{
  padding: 50px 150px;;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-area h2{
  color: var(--primarycolor);
  font-size: 34px;
  font-weight: 900;
}
.banner{
  margin-top: 160px;
  text-align: center;
}
.banner h1{
  color: #252432;
  font-size: 70px;
  font-weight: 700;
  padding: 0 280px;
  margin-bottom: 37px;
}
.banner button{
  margin-bottom: 152px;
}

/* main area style */
.main-area{
  margin: 0 150px;
}

/* action-area style */
.action-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 116px 0;
}
.left-section{
  flex-basis: 48%;
}

.left-section h2{
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 23px;
}
.left-section p{
  font-size: 24px;
  color: hsla(244, 16%, 17%, 0.5);
  margin-bottom: 23px;
}
.action-area img{
  border-radius: 30px;
}

/* Productive Users Section style */
.prodductive-user-area{
  padding: 50px 142px;
  background: hsla(242, 100%, 64%, 0.15);
  text-align: center;
  border-radius: 20px;
  margin-bottom: 137px;
}

.prodductive-user-area h3{
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 40px;
}
.main-user-area{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 158px;
  font-family: var(--secfont);
}

.main-user-area h2{
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
}
.main-user-area p{
  font-size: 20px;
  font-weight: 500;
  color: hsla(0, 0%, 0%, 0.5);
}

/* What our users say style */

.user-review-area h3{
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
}
.review-container{
  display: flex;
  gap: 20px;
  margin-bottom: 137px;
}
.user-review{
  border-radius: 15px;
  padding: 24px;
  box-shadow: 0 0 5px #00000022;
}
.star-image{
  margin-bottom: 24px;
}
.child-review h5{
  font-size:24px;
  font-weight: bold;
  margin-bottom: 5px;
}
.child-review p{
  font-size: 16px;
  margin-bottom: 24px;
}
.review-id{
  display: flex;
  gap: 12px;
  align-items: center;
}
.review-id img{
  border-radius: 50%;
}
.review-id .name-date h6{
  font-size: 16px;
  margin-bottom: 4px;
}
.review-id .name-date p{
  font-size: 14px;
  font-weight: 500;
  color: hsla(244, 16%, 17%, 0.5);
}
/* Ready to focus better area style */
.redy-to-focus-area{
  text-align: center;
  padding: 70px 150px;
  border-radius: 20px;
}
.redy-to-focus-area h3{
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}
.redy-to-focus-area p{
  font-size: 16px;
  font-weight: 400;
  color: hsl(0, 0%, 0%, 0.5);
  margin-bottom: 20px;
}
.redy-to-focus-area button{
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.redy-to-focus-area img{
  border-radius: 20px;
}

/* Get in Touch area style */
.contact-area{
  margin-bottom: 71px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 117px;
}
.left-text-area{
  flex-basis: 50%;
}
.left-text-area h2{
  font-size: 97px;
  font-weight: bold;
  color: #000000;
}
.contact-area .right-side-form label{
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
.contact-area .right-side-form input{
  height: 70px;
  border-radius: 5px;
  display: block;
  width: 490px;
  padding: 20px 32px;
  margin-top: 10px;
  margin-bottom: 19px;
  border: none;
  background: #fff;
  box-shadow: 0 0 5px #00000022;
}
.contact-area .right-side-form textarea {
  border-radius: 5px;
  border: none;  
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 19px;
  background: #fff;
  box-shadow: 0 0 5px #00000022;
}
.contact-area .right-side-form input, textarea::placeholder{
  font-family: var(--secfont);
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.50);
} 

.contact-area .right-side-form button{
  background: var(--primarycolor);
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 19px 110px;
  border-radius: 8px;
  border: none;
  width: 100%;
}
.contact-area .right-side-form button:hover{
  background: white;
  color: var(--primarycolor);
  border: 2px solid var(--primarycolor); 
}